extends layout

block content
    .register-page
        .register-panel
            .register-left
                .sk-title Simple Kitchen
                .sk-subtitle Simple &amp; Comforting
                .sk-subtitle Recipes All Year Round

            .register-right
                h2 Thank you for your registration!
