$gold: rgb(218, 170, 14);
$green: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$light-gray: rgb(212, 213, 216);
$light-green: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$dark-gray: rgb(49, 49, 48);

$main-font: Arial, Helvetica, sans-serif;
$script-font: 'Sacramento', cursive;
